.pane ul {
  list-style-type: none;
}
#custom_code {
  height: 50px;
  width: 100%;
}
.hidden {
  display: none;
}
.pane {
  background: #fff;
	width: 200px;
	float: left;
	height: 400px;
}
#terrainPane {
	width: 430px;
	background: silver;
}
#terrainPane a {
	display:block;
	padding: 2px;
	background: white;
}
#terrainPane a:hover, #terrainPane a.selected {
	background: yellow;
}
#wavePane {
	width: 250px;
}
#waveSelect {
	width: 100px;
	float: left;
	overflow: auto;
	height: 400px;
}
#waveEdit {
	float: left;
	width: 150px;
}
#gunsPane {
	width: 60px;
}
.pane .halfThing {
  width: 30px;
  float: left;
}
.halfThing li {
	border-bottom: 2px solid gray;
}
.halfThing li a {
	display: block;
	padding: 2px;
}
.halfThing li a:hover {
	background: yellow;
}
#header {
  background: gray;
  padding: 5px;
  color: #fff;
  position: relative;
}
#header #level_selector {
  position: absolute;
  right: 5px;
  top: 10px;
}
#customise {
	width: 740px;
	margin: 0 auto;
}
#side {
	width: 30px;
	margin-right: 0;
}
